.tree {
	display: flex;
	flex-direction: column;
	margin: 3rem 0;

	&__node {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__label {
		position: relative;
		display: flex;
		padding: 1rem;
		margin-top: -@border-width;
		font-size: 1rem;
		font-weight: 580;
		color: var(--color);
		background-color: var(--background-faded);
		border: @border-width solid;
		transition: color 0.1s, background-color 0.1s;
		cursor: move;

		&:hover {
			z-index: 2;
			--color: var(--hover-color);
			background-color: var(--hover-background);
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 4;
			inset: -(@border-width + 2) -@border-width;
			border-top: (@border-width + 4) solid transparent;
			border-bottom: (@border-width + 4) solid transparent;
			transition: border-color 0.2s;
		}
	}

	&__node--drop-before > &__label:after {
		border-top-color: var(--accent-color);
	}

	&__node--drop-after > &__label:after {
		border-bottom-color: var(--accent-color);
	}

	&__node--drop-inside > &__label {
		z-index: 3;
		--color: var(--accent-color);
		background-color: var(--accent-background);
	}

	&__subnodes {
		display: none;
		flex-direction: column;
		padding-left: 2.5rem;

		[open] > & {
			display: flex;
		}
	}

	&__collapse {
		position: absolute;
		top: 0.5em;
		left: -2em;
		padding: 0.5em;
		cursor: pointer;
	}

	&__subnodes:empty + &__collapse {
		display: none;
	}
}
