@inter: '../node_modules/typeface-inter/Inter Web';

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('@{inter}/Inter-roman.var.woff2?v=3.18.1') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('@{inter}/Inter-italic.var.woff2?v=3.18.1') format('woff2');
}

html,
body {
	color-scheme: dark;
	font-family: 'Inter', sans-serif;
	color: var(--color);
	background-color: var(--background);
	font-size: 16px;
	font-weight: 480;
	line-height: 1.6;

	@media (min-width: 1600px) {
		font-size: 18px;
	}
}

body {
	max-width: 88rem;
	margin: auto;
	padding: 0 2rem;
}

h1 {
	margin: -0.25rem 0 4rem 0;
	font-size: 2.45em;
	font-weight: 620;
	line-height: 1.28;
}

h2 {
	margin: 0 0 1.3rem 0;
	scroll-margin-top: 5.5rem;
	font-size: 1.8em;
	font-weight: 680;
	line-height: 1.3;

	* + & {
		margin-top: 2.15em;
	}
}

p {
	margin: 1em 0;

	& a {
		color: var(--accent-color);
		text-decoration: none;
		transition: color 0.2s;

		&:hover {
			color: var(--color);
		}
	}
}

hr {
	margin: 4rem 0;
	border: none;
	border-top: 2px solid;
}
