.grid {
	max-width: 100%;
	padding: 2rem 0;
	margin: 2rem auto;

	@media (max-width: 899px) {
		& > :first-child {
			display: none;
		}
	}

	@media (min-width: 900px) {
		display: grid;
		gap: 1rem;
		grid-template-columns: 20rem minmax(auto, 34rem);
	}

	@media (min-width: 1300px) {
		grid-template-columns: 1fr 38rem 1fr;
	}
}
