.grid {
	display: grid;
	max-width: 76rem;
	padding: 2rem 0;
	margin: 2rem auto;
	grid-template-columns: 0 1fr 0;

	@media (max-width: 899px) {
		& > :first-child {
			opacity: 0;
			pointer-events: none;
		}
	}

	@media (min-width: 900px) {
		grid-template-columns: 2fr 4.5fr 0;
	}

	@media (min-width: 1200px) {
		grid-template-columns: 2fr 4fr 2fr;
	}
}
