.grid {
	display: grid;
	max-width: 100%;
	padding: 2rem 0;
	margin: 2rem auto;
	grid-template-columns: 0 1fr 0;

	@media (max-width: 899px) {
		& > :first-child {
			opacity: 0;
			pointer-events: none;
		}
	}

	@media (min-width: 900px) {
		grid-template-columns: 20rem minmax(auto, 34rem);
	}

	@media (min-width: 1255px) {
		grid-template-columns: 1fr 34rem 1fr;
	}
}
