<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Sortable Tree — create sortable, draggable and collapsible trees in
			TypeScript
		</title>
		<meta
			property="og:title"
			content="Sortable Tree — create sortable, draggable and collapsible trees in TypeScript"
		/>
		<meta
			name="description"
			content="Create sortable, draggable and collapsible trees with vanilla TypeScript — no dependencies"
		/>
		<meta
			property="og:description"
			content="Create sortable, draggable and collapsible trees with vanilla TypeScript — no dependencies"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			property="og:image"
			content="https://raw.githubusercontent.com/marcantondahmen/sortable-tree/master/assets/readme.png"
		/>
		<link rel="stylesheet" href="demo.css?t=<%= Date.now() %>" />
		<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
		<script defer src="demo.js?t=<%= Date.now() %>"></script>
	</head>
	<body>
		<nav>
			<span>
				<a href="./">Sortable Tree</a>
			</span>
			<span>
				<a
					href="https://github.com/marcantondahmen/sortable-tree/blob/master/README.md"
					target="_blank"
					>Docs</a
				>
				<a
					href="https://github.com/marcantondahmen/sortable-tree"
					target="_blank"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-github"
						viewBox="0 0 16 16"
					>
						<path
							d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
						/>
					</svg>
				</a>
				<a
					href="https://www.npmjs.com/package/sortable-tree"
					target="_blank"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-box-seam-fill"
						viewBox="0 0 16 16"
					>
						<path
							fill-rule="evenodd"
							d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003 6.97 2.789ZM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461L10.404 2Z"
						/>
					</svg>
				</a>
			</span>
		</nav>
		<div class="grid">
			<aside>
				<demo-toc></demo-toc>
			</aside>
			<main>
				<h1>
					Easily create <i>sortable</i>, <i>draggable</i> and
					<i>collapsible</i> trees &mdash; vanilla TypeScript,
					lightweight and no dependencies.
				</h1>

				<img
					class="hero"
					src="https://raw.githubusercontent.com/marcantondahmen/sortable-tree/master/assets/readme.png"
					alt=""
				/>

				<h2>Getting Started</h2>
				<p>
					You can either install this
					<a
						href="https://www.npmjs.com/package/sortable-tree"
						target="_blank"
						>package</a
					>
					using <i>NPM</i> and import it into your JavaScript or
					TypeScript project or directly download it from a
					<i>CDN</i>.
				</p>
				<script src="https://marcantondahmen.github.io/emgithub/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fmarcantondahmen%2Fsortable-tree%2Fblob%2Fmaster%2FREADME.md%3Fplain%3D1%23L48-L48&style=dark&type=code&showCopy=on"></script>
				<p>
					<a
						href="https://github.com/marcantondahmen/sortable-tree#getting-started"
						target="_blank"
					>
						Follow this guide to get started ⟶
					</a>
				</p>

				<h2>Preparing Node Data</h2>
				<p>
					A sortable tree is generated based on an
					<i>recursive</i> array of <i>tree nodes</i>. Every node
					contains two properties &mdash; a <i>data</i> object and a
					nested array of <i>nodes</i> that inherit the same structure
					and therefore build a recursive tree.
				</p>
				<demo-embed name="nodes-shape"></demo-embed>
				<p>
					The <i>data</i> object can contain any number of custom
					properties. The names of those properties don't matter at
					all. The shape is freely defined by the application and the
					developer.
				</p>
				<p>
					The data object can be accessed by the
					<a href="#custom-labels">render</a>
					function in order to define the content and bahavior of each
					node.
				</p>

				<h2>Basic Configuration</h2>
				<p>
					The most basic configuration only requires a
					<a
						href="https://github.com/marcantondahmen/sortable-tree/blob/master/demo/index.html#L31"
						target="_blank"
						>nodes</a
					>
					dataset and a parent <i>element</i>.<br />
				</p>
				<demo-embed name="basic"></demo-embed>
				<div id="tree-basic"></div>

				<h2>Custom Labels</h2>
				<p>
					The actual clickable and draggable area &mdash;
					<i>the label</i> &mdash; is rendered by a fully customizable
					function that can be passed to the tree constructor.
				</p>
				<demo-embed name="custom-labels"></demo-embed>
				<div id="tree-labels"></div>

				<h2>Custom Icons</h2>
				<p>
					Custom icons to indicate opened and collapsed nodes can be
					defined using the <i>icons</i> property. Any string,
					including <i>HTML</i> or <i>SVG</i>, can be used here as
					values.
				</p>
				<demo-embed name="custom-icons"></demo-embed>
				<div id="tree-icons"></div>

				<h2>Confirmation Dialog</h2>
				<p>
					It is possible to catch the drop event and wait for
					confirmation before actually moving things around.
				</p>
				<demo-embed name="confirmation-dialog"></demo-embed>
				<div id="tree-confirm"></div>

				<h2>Handling Change Events</h2>
				<p>
					You can define your own drop event handler in tree
					constructor options.
				</p>
				<demo-embed name="onchange"></demo-embed>
				<div id="tree-onchange"></div>

				<h2>Handling Click Events</h2>
				<p>
					Aside from drop events, it is also possible to define a
					custom handle for click events.
				</p>
				<demo-embed name="onclick"></demo-embed>
				<div id="tree-onclick"></div>

				<h2>Finding and Revealing Nodes</h2>
				<p>
					You can search for nodes and interact with them.
					<a href="#" id="reveal-button">Click here</a> in order to
					reveal the hidden node with the title "Deep Nested Page".
				</p>
				<demo-embed name="find-reveal"></demo-embed>
				<div id="tree-find"></div>

				<h2>Disabling Sorting</h2>
				<p>
					In case you just want to create a tree instance in your app
					that doesn't provide any sorting functionalty, you can
					easily disbale the drag-and-drop behavior.
				</p>
				<demo-embed name="no-sorting"></demo-embed>
				<div id="tree-no-sort"></div>

				<h2>Unlocking Root</h2>
				<p>
					By default, users are not allowed to move nodes next to the
					root node on the top level. This is useful in order to
					address use cases such as an actual file system tree that
					can only have on root node. However, it is possible to
					disable this restriction by setting the
					<i>lockRootLevel</i> option to <i>false</i>.
				</p>
				<demo-embed name="unlock-root"></demo-embed>
				<div id="tree-unlock-root"></div>

				<h2>No Theme</h2>
				<p>
					By default, the included styles only cover the most basic
					functionality such as collapsing and indentation. You can
					assign your CSS classes to the rendered elements as well as
					fully customize the render function. Without any theming,
					the generated tree looks as follows. In addition to that,
					the basic styles are controlled by
					<a
						href="https://github.com/marcantondahmen/sortable-tree/blob/master/src/styles.less#L1"
						target="_blank"
						>custom properties</a
					>
					that allow for easy integration into other design systems.
				</p>
				<demo-embed name="unstyled"></demo-embed>
				<div id="tree-unstyled"></div>
			</main>
		</div>
	</body>
</html>
