:root {
	--color: hsl(217, 12%, 90%);
	--background: hsl(217, 12%, 11%);
	--border: hsl(217, 12%, 15%);
	--accent-color: hsl(215, 100%, 58%);
	--accent-background: hsl(215, 71%, 12%);
	--hover-color: hsl(217, 12%, 84%);
	--hover-background: hsl(217, 12%, 16%);
	--muted-color: hsl(217, 12%, 46%);
	--code-background: hsl(217, 12%, 13%);
	--code-1: hsl(217, 12%, 85%);
	--code-2: hsl(217, 12%, 65%);
	--code-3: hsl(217, 12%, 50%);
	--code-accent-1: hsl(215, 90%, 58%);
	--code-accent-2: hsl(215, 80%, 68%);
}
